body
{
  min-width: 258px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #f8f6f2;
  background-image: url(/skin/pongoOS.png);
  background-color: #161616;  
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

header
{
  height: 15px;
  margin-bottom: 54px;
}

#logo
{
  display: block;
  position: relative;
  top: 15px;
  margin: 0px auto;
}

.HeaderLogoAlign
{
  top: 8px !important;
  right: 0px;  
}

#wrapper
{
  padding: 0px 20px;
}

ul
{
  margin: 0px;
  padding: 0px;
}

li
{
  cursor: default;
  list-style-type: none;
  white-space: nowrap;
  border-top: 1px solid #3F3F3F;
  border-bottom: 1px solid #0F0F0F;
}

li ul
{
  margin-left: 0px;
}

li li
{
  cursor: default;
  padding: 10px 0px;
}

.menu-item
{
  padding: 10px 0px 10px 15px;
}

.icon
{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  vertical-align: top;
  background-image: url(popup.png);  
}

#enabled .icon
{
  background-position: -52px -1px ;
}

body.disabled #enabled .icon
{
  background-position: -52px -17px;
}

#clickhide .icon,
#clickhide-cancel .icon
{
  background-position: -52px -33px;
}

#stats-container .icon
{
  background-position: -52px -49px;
}

.collapse
{
  position: relative;
  padding-right: 25px;
}

.collapse-icon-placeholder
{
  display: none;
  width: 45px;
}

.collapse-icon
{
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 10px;
  width: 11px;
  height: 11px;
  background-image: url(popup.png);
  background-position: -34px -65px;
}

.collapsed .collapse-icon
{
  background-position: -34px -77px;
}

.collapsed .collapsable
{
  display: none;
}

.Ext1HeaderText { font-weight: 700; font-size: 24px; color: #ffffff; padding-left: 24px; padding-top: 28px; }
.Ext1HeaderText span { font-size: 25px;
    color: #dcbf9d;
    margin-top: 0px;
    float: left; }

.Ext2Border { border-bottom: solid 1px #101011; }
.Ext2IconAlign { margin-right: 7px; }

.Ext2CollapseItems { border-bottom: solid 0px; }

.Ext2CollapseItemsLiDiv { color: #000000; font-weight: 600; float: right; text-align: right; width: 35px; height: 14px; background-color: yellow; padding-right: 5px; padding-bottom: 3px; }*/
.CollapseLiAlign div div { border: solid 0px red; padding: 2px 5px 2px 21px; }

.CollapseAlign { margin-left: 0px; border-top: solid 0px; background-color: #1F1F1F; }
.CollapseLiAlign { border-top: solid 0px; padding: 8px 0px; }

.CollapseInnerContentAlign { border: solid 1px red; background-color: yellow; }

.Ext2ShowNumber { background-color: #161616; border-bottom: solid 0px; }

