body {
	background-color: black;
.options-switch
{
	margin-left: 10px;
	height:15px;
	width:30px;
	background:#fff;
	border-radius:1000px;
	cursor:pointer;
	transition:all 100ms linear 100ms;
	border:2px solid #ccc;
}
.options-switch:hover{
	border-color:green;
}
.options-switch > *
{
	border-radius:1000px;
	width:15px;
	height:100%;
	transition:all 200ms cubic-bezier(.35,.93,.52,1);
	cursor:pointer;
	background:#5363d7;
}
.options-switch[data-on]
{
	background:#5363d7;
	transition:all 200ms 200ms;
}

.options-switch[data-on] > *
{
	transition:background-color 150ms linear 200ms, margin-left 400ms cubic-bezier(.35,.93,.52,1);
	margin-left:15px;
	background:#fff;
}
.photo-browser
{
	width:100%;
	overflow:hidden;
}

.photo-browser > *:first-child
{
	box-sizing: border-box;
	height:100px;
	width:100%;
	border:2px solid #e9e9e9;
	border-radius:10px;
	cursor:pointer;
}
#bg:hover
{
	border-color:#3578E5;
}

#bg
{
	background-size:cover;
	background-repeat:no-repeat;
}

.photo-browser input
{
	margin-top:10px;
	cursor:pointer;
}

.photo-browser select
{
	margin-top:10px;
}
